table
{
	border-collapse: collapse;
	width: 100%;
}
tr
{
	border-bottom: 1px solid #ddd;
	font-size:20px;
}
h1
{
	color:#2B29C3;
	text-decoration:underline;
	font-family:Verdana, Geneva, sans-serif;
}
thead
{
	color:white;
	background-color: #0A0A0A;
}
tr:nth-child(even)
{
	background-color: #DCDAEB;
}

input[type=text], select
{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus
{
    border: 2px solid blue;

}
input
{
    background-color:#3CBC8D;
    color:#FFFFFF;
    text-transform:capitalize;
}
input[type=button], input[type=reset], input[type=submit]
{
    background-color: #3CBC8D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:center;

}
input[type=button]:hover
{
    background-color: #45a049;
}
input[type=reset]:hover
{
    background-color: #45a049;
}

input[type=submit]:hover
{
    background-color: #45a049;
}
